@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Welcome  Admin</h1>


    <div>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lightsteelblue; " asp-controller="Admin" asp-action="HotelList">Hotel List</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lightsteelblue; " asp-controller="Admin" asp-action="AddHotel">Add Hotel</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lightsteelblue; " asp-controller="Admin" asp-action="UpdateHotel">Update Hotel</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lightsteelblue; " asp-controller="Admin" asp-action="DeleteHotel">Delete Hotel</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lightsteelblue; " asp-controller="Admin" asp-action="BookingRequestList">Booking Request List</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lightsteelblue; " asp-controller="Admin" asp-action="ApproveBooking">Approve Booking Request</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lightsteelblue; " asp-controller="Admin" asp-action="Report">Report</a></h2>

    </div>
</div>
