@{
    ViewData["Title"] = "User";
}

<div class="text-center">
    <h1 class="display-4">Welcome To User Dashboard</h1>


    <div>

        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lightsteelblue; " asp-controller="Admin" asp-action="HotelList">Hotel List</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lightsteelblue; " asp-controller="User" asp-action="RegisterNewUser">Register New User</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lightsteelblue; " asp-controller="User" asp-action="RoomList">Room List</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: lightsteelblue; " asp-controller="User" asp-action="AddBookingRequest">AdD Booking Request</a></h2>
        
    </div>
</div>