@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4 style="font:bolder">Welcome to Hotel Booking System</h4>


    <div>
        @*<h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Admin" asp-action="Admin">Admin</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="User" asp-action="User">User</a></h2>*@
        @*<h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: peachpuff; " asp-controller="Upload" asp-action="UploadFile">Upload File</a></h2>*@

        <button id="myAdminButton" class="float-lg-none submit-button w-50 " style="position: center; margin: 15px; background-color: lightcoral;">Admin</button>
                <script type="text/javascript">document.getElementById("myAdminButton").onclick = function () {
    location.href = "https://validatelogin20220724104215.azurewebsites.net/api/validatelogin?Users=Admin";
                    };</script>
                <button id="myEmployeeButton" class="float-lg-none submit-button w-50 " style="position: center; margin: 15px; background-color: lightgreen">User</button>
                <script type="text/javascript">document.getElementById("myEmployeeButton").onclick = function () {
    location.href = "https://validatelogin20220724104215.azurewebsites.net/api/validatelogin?Users=User";
                    };</script>

    </div>

</div>


